include CHANGES.md
include COPYING.txt
include LICENSE.txt
include MANIFEST.in
include README.md 
include requirements.txt
include setup.cfg
include doc/*.ipynb doc/*.md doc/*.txt doc/*.tsv doc/*.biom
recursive-include tests/data *